
/*.body{
    background-color:green;
}
*/

/*sketch box*/
.grid1{
    display:flex;
    flex-wrap:wrap;
    width:800px;
    height:800px;
    border-color:blue;
    border-width:10px;
    border-style:solid;
}

/* pixels */
.box1b{
    display:flex;
    background-color:black;
    width:40px;
    height:40px;
}

.box1w{
    display:flex;
    background-color:white;
    width:40px;
    height:40px;
}

.box1g{
    display:flex;
    background-color:green;
    width:40px;
    height:40px;
}

.box1blu{
    display:flex;
    background-color:blue;
    width:40px;
    height:40px;
}

.box1r{
    display:flex;
    background-color:red;
    width:40px;
    height:40px;
}

/* button*/
.button1 {
    background-color: #4CAF50; 
    border-color: chocolate;
    border-width: 5px;
    color: white;
    padding: 20px 44px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
  }

  .button2 {
    background-color:chocolate; 
    border-color: chocolate;
    border-width: 5px;
    color: white;
    padding: 20px 44px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
  }