
body{
    background-color: grey;
    padding-bottom:100px;
}




/* flexboxes */
.layout1{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
}

.grid11{
    display:flex;
    justify-content:center;
    width:50%;
    padding-bottom:20px;
}

.heading1{
    display:flex;
    justify-content:center;
    width:100%;
    padding-top:40px;
    padding-bottom:40px;
}

.buttons1{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    width:30%;
    align-content:center;
}

.buttons2{
    display:flex;
    justify-content:center;
    width:100%;
    padding-top:20px;
    padding-bottom:20px;
}

/* fonts */

.font1{
    font-size:60px;
}


/*sketch box*/
.grid1{
    display:flex;
    flex-wrap:wrap;
    width:800px;
    height:800px;
    border-color:blue;
    border-width:10px;
    border-style:solid;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  
}

@keyframes example {
    0%   {border-color:red; }
    25%  {border-color:orange; }
    50%  {border-color:blue; }
    75%  {border-color:green;}
    100% {border-color:red; }
  }

/* pixels */
.box1b{
    display:flex;
    background-color:black;
    width:40px;
    height:40px;
}

.box1w{
    display:flex;
    background-color:white;
    width:40px;
    height:40px;
}

.box1g{
    display:flex;
    background-color:green;
    width:40px;
    height:40px;
}

.box1blu{
    display:flex;
    background-color:blue;
    width:40px;
    height:40px;
}

.box1r{
    display:flex;
    background-color:red;
    width:40px;
    height:40px;
}

/* button*/
.button1 {
    background-color: #4CAF50; 
    border-color: chocolate;
    border-width: 5px;
    color: white;
    width:100px;
    height:70px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
  }

  .button2 {
    background-color:chocolate; 
    border-color: chocolate;
    border-width: 5px;
    color: white;
    width:100px;
    height:70px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
  }