.grid1{
    display:flex;
    flex-wrap:wrap;
    width:800px;
    height:800px;
    border-color:blue;
    border-width:10px;
    border-style:solid;
}

.box1b{
    display:flex;
    background-color:black;
    width:40px;
    height:40px;
}

.box1w{
    display:flex;
    background-color:white;
    width:40px;
    height:40px;
}

.button1 {
    background-color: #4CAF50; 
    border-color: chocolate;
    border-width: 5px;
    color: white;
    padding: 20px 44px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
  }